apiVersion: v1
kind: ConfigMap
metadata:
  name: pedidos-config
data:
  AMBIENTE: "producao"
  ESTOQUE_URL: "http://estoque"
  PAGAMENTOS_URL: "http://pagamentos"
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: pedidos
  namespace: pedidos-veloz
spec:
  replicas: 2
  selector:
    matchLabels:
      app: pedidos
  template:
    metadata:
      labels:
        app: pedidos
    spec:
      containers:
      - name: pedidos
        image: pedidos:latest
        imagePullPolicy: Never
        ports:
        - containerPort: 3000
        envFrom:
          - configMapRef:
              name: pedidos-config
        livenessProbe:
          httpGet:
            path: /health
            port: 3000
          initialDelaySeconds: 10
---
apiVersion: v1
kind: Service
metadata:
  name: pedidos
spec:
  selector:
    app: pedidos
  ports:
    - port: 3000
