apiVersion: apps/v1
kind: Deployment
metadata:
  name: pedidos
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 1
  selector:
    matchLabels:
      app: pedidos
  template:
    metadata:
      labels:
        app: pedidos
    spec:
      containers:
        - name: pedidos
          image: pedidos-veloz/pedidos:1.0
          envFrom:
            - configMapRef:
                name: pedidos-config
            - secretRef:
                name: pedidos-secret
          ports:
            - containerPort: 3000
          
          livenessProbe:
            httpGet:
              path: /pedidos
              port: 3000
            initialDelaySeconds: 10
            periodSeconds: 10
         
          readinessProbe:
            httpGet:
              path: /pedidos
              port: 3000
            initialDelaySeconds: 5
            periodSeconds: 5